body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 100px 50px 50px 25px 80px 100px 100px ;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    width: 50%;
    
}

#tackIndien {
grid-column-start: 2;
grid-row-start: 1;
}

#username {
    grid-column-start: 2;
    grid-row-start: 2;
}

#password {
    grid-column-start: 2;
grid-row-start: 3;
}

#submitBtn {
    grid-column-start: 2;
grid-row-start: 4;
place-self: center;
}

#gSignIn {
    /* display: flex;
    justify-content: center; */
    grid-column-start: 2;
    grid-row-start: 5;
    place-self: center;
}

#friendCap {
    grid-column-start: 2;
    grid-row-start: 6;
    place-self: center;
}

.g-recaptcha {
    grid-column-start: 2;
    grid-row-start: 7;
    place-self: center;
}

p {
    margin: 24px 0;
    line-height: 1;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #464646;
    color: azure;
    padding: 0 32px;
    box-shadow: 0 -2px 16px #464646d7;

    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: azure;
}

.cookie-btn {
    background: rgb(247, 140, 40);
    border: 0;
    padding: 12px 24px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}